@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-heavy {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal {
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  p {
    text-align: center;
  }
}

.input-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

.action-button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  font-size: 25px;
  width: 39px;
  height: 39px;
  margin-right: 1px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-button {
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

/* DARK THEME */
.container.dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.action-button.dark {
  background-color: #808080;
}

.download-button.dark {
  background-color: #a7a6a6;
}

.download-button.dark:hover {
  background-color: #8e8d8d;
}

/* LIGHT THEME */

.container.light {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal.light {
  background-color: #f0f0f0;
  color: #000000;
}

.action-button.light {
  background-color: #cccccc;
}

.download-button.light {
  background-color: #d0d0d0;
}

.download-button.light:hover {
  background-color: #bfbfbf;
}
